<footer class="footer">
    <p class="footer__text">&copy; Odd Jobs Jin</p>
    <a href="/about" class="footer__text btn">About</a>
    <a href="/contact" class="footer__text btn">Contact</a>
    <p id="mpb" class="footer__text btn">More Projects</p>
</footer>