<header class="header">
    <div class="header__title-container">
        <h1 class="header__title">T</h1><h1 class="header__title">H</h1><h1 class="header__title">E</h1><h1 class="header__title">/|\</h1><h1 class="header__title">C</h1><h1 class="header__title">A</h1><h1 class="header__title">S</h1><h1 class="header__title">T</h1>
    </div>
    <div class="header__links">
        <form id="form" class="header__form">
            <button id="location-button" class="header__button">Get My Location</button>
            <input class="header__input" type="text" placeholder="Ex. San Francisco">
            <button id="search-button" class="header__button">Search</button>
        </form>
        <a id="update-search" class="header__link btn">Update Search</a>
        <a href="/tech" class="header__link btn">Technology</a>
    </div>
</header>